<!DOCTYPE html>
<html lang="pl" ng-app="firstApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kurs AngularJS</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand" href="#">
                <img src="img/angularjs-for-header-only.svg" alt="AngularJS">
            </a>

            <div class="navbar-heading">Learning-app</div>
        </nav>

        <div class="container" ng-controller="FirstController">
            <div ng-show="showUsers.length == 0" class="row">

                <h2 class="text-center" ng-bind-html="htmlCode"></h2>
                <hr>
               
            <div class="row">
                <div ng-include="'member-tmpl.html'"></div>
            </div>

                <hr>
               
                <div class="col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="(id, product) in shoppingCart">
                            <strong>{{ product.name }}</strong> - {{ product.price | currency : 'PLN' : 0  }}
                            <button ng-click="removeFromCart(id)" class="btn btn-xs btn-danger pull-right">X</button>
                        </li>
                    </ul>

                    <ul ng-show="shippingPrice() > 0" class="list-group">
                        <li class="list-group-item">
                            <strong>Wysyłka - </strong> {{ shippingPrice() | currency : 'PLN' : 0 }}
                        </li>
                    </ul>

                    <button ng-show="shippingPrice() > 0" class="btn btn-success" ng-click="confirmOrder()">Złóż zamówienie</button>

                    <button ng-show="shippingPrice() > 0"class="btn btn-danger pull-right" ng-click="clearCart()">Wyczyść koszyk</button>

                     <hr>
                    
                </div>

                <div class="col-xs-6">
                    <div class="well">Twój 1 komentarz: {{ comment }}</div>
                    <textarea class="form-control" ng-model="comment"></textarea>
                    <hr>
                    <div class="well">Twój 2 komentarz: {{ comment }}</div>
                    <textarea class="form-control" ng-model="comment"></textarea>
                </div>

            </div>

            <hr>

            <div class="row">
            <div ng-show="formSave" class="alert alert-success">
                    <strong>Sukces!</strong> Twoje dane zostały zapisane!
                </div>

                <div ng-show="formSave" class="well" >
                    <strong>Login: </strong> {{ member.login }} <br>
                    <strong>E-mail: </strong> {{ member.email }} <br>
                    <strong>Specjalizacja: </strong> {{ member.specialization.name }} <br>
                    <strong>Technologie: </strong> <span ng-repeat="tech in member.technologies">{{ tech.name }}, </span> <br>
                    <strong>Typ konta: </strong> {{ member.account }} <br>
                </div>

                <form class="form-horizontal" ng-hide="formSave" ng-submit="formSave=true" novalidate>

                    <div class="form-group">
                        <label for="uLogin" class="col-sm-2 control-label">Login</label>

                        <div class="col-sm-6">
                            <input
                                id="uLogin"
                                type="text"
                                ng-model="member.login"
                                ng-focus="loginPrompt = true"
                                ng-blur="loginPrompt = false"
                                class="form-control">
                        </div>

                        <div ng-show="loginPrompt" class="col-sm-4" style="font-size: .7em; padding: 8px 0; color: darkred;">
                            Na podstawie Twojego loginu utworzymy konto e-mail.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="uEmail" class="col-sm-2 control-label">E-mail</label>

                        <div class="col-sm-8">
                            <input
                                id="uEmail"
                                type="email"
                                ng-disabled="useEduEmail"
                                ng-readonly="useEduEmail"
                                ng-model="member.email"
                                class="form-control">
                        </div>

                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input
                                        ng-model="useEduEmail"
                                        ng-change="member.email = member.login+'@eduweb.pl'"
                                        ng-disabled="!member.login"
                                        type="checkbox">

                                     Użyj e-maila w domenie eduweb
                                     <span ng-show="member.login">({{ member.login }}@eduweb.pl)</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="uSpec" class="col-sm-2 control-label">Specjalizacja</label>

                        <div class="col-sm-8">
                            <select
                                id="uSpec"
                                ng-model="member.specialization"
                                ng-options="spec.name group by spec.type for spec in specializations"
                                class="form-control">
                                <option value="">-- wybierz specjalizacje --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="uSpec" class="col-sm-2 control-label">Ulubione technologie</label>

                        <div class="col-sm-8">
                            <div class="checkbox" ng-repeat="tech in technologies">
                                <label>
                                    <input
                                        type="checkbox"
                                        ng-model="tech.selected"
                                        value="{{ tech.name }}"
                                        ng-change="populateTechs()"
                                        name="techs[]">
                                    {{ tech.name }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="uSpec" class="col-sm-2 control-label">Typ konta</label>

                        <div class="col-sm-8">
                            <div class="radio" ng-repeat="type in accountTypes">
                                <label>
                                    <input
                                        ng-model="member.account"
                                        ng-value="type"
                                        type="radio">
                                    {{ type }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-success">Zapisz dane</button>
                    </div>

                </form>

            </div>

            <hr>

            <div class="row">
                <select class="form-control" ng-model="showUsers">
                    <option value="all">Wszyscy</option>
                    <option value="active">Aktywni</option>
                    <option value="admin">Administatorzy</option>
                </select>
            </div>

            <div class="row text-center" ng-switch on="showUsers">

                <div class="col-xs-12" ng-switch-default>Wybierz listę jaką chcesz wyświetlić.</div>

                <div class="col-xs-12" ng-switch-when="all">
                    <h3>Wszyscy użytkownicy</h3>

                    <ul class="list-group" ng-if="users.length">
                        <li class="list-group-item" ng-repeat="user in users" ng-class="{first: $first, last: $last, middle: $middle, strong: $odd, underscore: $even}">
                            {{ $index }} {{ user.name }} {{user.email}}
                            <img class="user-avatar" ng-src="{{ user.avatar }}" alt="">
                        </li>
                    </ul>


                    <button class="btn btn-success" ng-click="orderUsers()">Sortuj wg. nazwy</button>
                    <button class="btn btn-primary" ng-click="hideEmail()">Ukryj adresy e-mail</button>
                    <button class="btn btn-warning" ng-click="showTop3()">Wyświetl TOP3</button>

                </div>

                <div class="col-xs-12" ng-switch-when="active">
                    <h3>Aktywni użytkownicy</h3>

                    <ul class="list-group" ng-if="users.length">
                        <li class="list-group-item" ng-repeat="(id, user) in users | filterUser:'active':'all'" ng-class-even="'underscore'" ng-class-odd="'strong'">
                            {{ id }} {{ user.name }}
                            <img class="user-avatar" ng-src="{{ user.avatar }}" alt="">
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12" ng-switch-when="admin">
                    <h3>Administratorzy</h3>

                    <ul class="list-group" ng-if="users.length">
                        <li class="list-group-item" ng-repeat="(id,user) in users | filterUser:'all':'admin'" ng-style="adminStyle">
                            {{ id }} {{ user.name }}
                            <img class="user-avatar" ng-src="{{ user.avatar }}" alt="">
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                 <div class="col-xs-12">
                     <ul class="list-group" ng-if="simpleUsers.length">
                        <li class="list-group-item" ng-repeat="user in simpleUsers" >
                            {{ user }}
                        </li>
                    </ul>
                 </div>

            </div>
      
        </div>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/angular-locale_pl-pl.js"></script>
        <script src="js/main.js"></script>
         <script>
            var app = angular.module('firstApp', ['ngSanitize']);

            app.controller('FirstController', ['$scope', 'userProvider', '$filter', 'limitToFilter', 'filterFilter', 'orderByFilter','maskEmailFilter', function($scope, userProvider, $filter, limitToFilter,filterFilter,orderByFilter,maskEmailFilter){

                $scope.userName = userProvider.fullName();
                $scope.user = userProvider;
                $scope.comment = limitToFilter('...dodaj komentarz obcięty...', 14);
                $scope.htmlCode = '<strong> Zamówienie dla ' +  $scope.userName +' </strong>';

                $scope.currDate = new Date();

                $scope.shoppingCart = [
                    { name: 'Sekrety Photoshop - Tips & Tricks', price: 99 },
                    { name: 'ASP.NET MVC - w Praktyce', price: 149 },
                    { name: 'Sekrety Photoshop - Tips & Tricks', price: 99 },
                    { name: 'Kreacje 3D w Modo Z Photoshop, Illustrator i ZBrush', price: 129 }
                ];

                $scope.showUsers = "";
                $scope.adminStyle = {
                    color: 'red',
                    fontWeight: 'bold',
                    textDecoration: 'underline'
                };

                $scope.users = [
                    { name: 'Asia', active: true, role: "user", avatar: 'img/comedian.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Jarek', active: true, role: "user", avatar: 'img/confused.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Tomek', active: false, role: "user", avatar: 'img/constructive.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Maciek', active: true, role: "admin", avatar: 'img/cool.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Kasia', active: true, role: "user", avatar: 'img/enraged.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Rafał', active: false, role: "user", avatar: 'img/folkloric.jpg', email: 'testowyemail@wp.pl' },
                    { name: 'Filip', active: true, role: "user", avatar: 'img/happy.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Józek', active: true, role: "admin", avatar: 'img/horny.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Adam', active: true, role: "user", avatar: 'img/comedian.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Zuzia', active: true, role: "admin", avatar: 'img/folkloric.jpg' , email: 'testowyemail@wp.pl'},
                    { name: 'Grzegorz', active: true, role: "user", avatar: 'img/happy.jpg', email: 'testowyemail@wp.pl' }
                ];

               var users2 = [
                    { firstName: 'Adam', lastName: 'Nowak' },
                    { firstName: 'Krystyna', lastName: 'Kowalska' },
                    { firstName: 'Michał', lastName: 'Anioł' },
                    { firstName: 'Johny', lastName: 'Rambo' },
                    { firstName: 'Rocky', lastName: 'Balboa' },
                    { firstName: 'Żółw', lastName: 'Ninja' },
                    { firstName: 'Bruce', lastName: 'Lee' }
                ];

                /**
                 TABLICE
                 */
                $scope.simpleUsers = []; // '0. Adam Nowak', '1. Krystyna Kowalska'
                angular.forEach(users2, function (value, key) {
                    //simpleUsers.push(key+'. '+value.firstName+' '+value.lastName);
                    this.push(key+'. '+value.firstName+' '+value.lastName);
                }, $scope.simpleUsers);


                /**
                 JQUERY    
                 */
                 var $well = angular.element('.container .well');

                console.log($well);

                $well
                    .css({
                        color: 'blue',
                        textDecoration: 'underline'
                    })
                    .addClass('big-text');

                var $div = angular.element('<div>');
                $div
                    .text('Komentarz:')
                    .css({
                        backgroundColor: 'gray',
                        textTransform: 'uppercase'
                    });

                $well.append($div);


                /* FILTRY */
                $scope.orderDir = false;
                $scope.orderUsers = function () {

                    //sortowanie użytkowników
                    console.log('sortowanie użytkowników');
                    $scope.users = orderByFilter($scope.users, 'name', $scope.orderDir);
                    scope.orderDir = !scope.orderDir;

                };
                $scope.hideEmail = function () {

                    //ukrywanie haseł
                    console.log('ukrywanie haseł');

                    var users = $scope.users;

                    for(var i=0; i<users.length; i++){
                        users[i]['email'] = maskEmailFilter(users[i]['email'], 3);
                    }

                    $scope.users = users;

                };

                $scope.showTop3 = function () {

                    //pokaż Top3
                    console.log('pokaż top3');
                    $scope.users = $filter('limitTo')($scope.users, 3);

                };

                /************************************
                 FORMULARZE 
                 *************************************/
                $scope.loginPrompt = false;
                $scope.useEduEmail = false;
                $scope.formSave = false;

                $scope.member = {};
                $scope.specializations = [
                    { name: 'ASP.NET', type: 'Programowanie' },
                    { name: 'PHP', type: 'Programowanie' },
                    { name: 'HTML/CSS', type: 'Programowanie' },
                    { name: 'Photoshop', type: 'Grafika' },
                    { name: 'Illustrator', type: 'Grafika' },
                    { name: 'Premiere', type: 'Video' },
                    { name: 'Photoshop', type: 'Video' },
                ];

                $scope.technologies = [
                    { name: 'Photoshop', selected: false },
                    { name: 'Illustrator', selected: false },
                    { name: 'PHP', selected: false },
                    { name: 'ASP.NET', selected: false },
                    { name: 'JavaScript', selected: false },
                    { name: 'HTML/CSS', selected: false },
                    { name: 'MySQL', selected: false },
                    { name: 'JAVA', selected: false }
                ];

                $scope.accountTypes = [
                    'Standard',
                    'Optimum',
                    'Premium',
                    'Premium+'
                ];
                $scope.populateTechs = function () {

                    $scope.member.technologies = filterFilter($scope.technologies, { selected: true });

                };

                /* ZDARZENIA Z KLAWIATURY */
                $scope.accountNoCopied = false;
                $scope.accountNoPaste = false;
                $scope.oneClickAlert = false;
                $scope.copyAccountNo = function () {
                    $scope.accountNoCopied = true;
                };

                $scope.pasteAccountNo = function () {
                    $scope.accountNoPaste = true;
                };

                $scope.preventOneClick = function () {
                    $scope.oneClickAlert = true;
                };

                $scope.makeTransfer = function () {
                    $scope.oneClickAlert = false;
                    alert('Przelew został zrealizowany');
                };



                $scope.shippingPrice = function (){
                    var val = 0;
                    angular.forEach($scope.shoppingCart, function(value, key){
                       val +=  value.price;
                    });
                    console.log(val);
                    return val;
                };

                $scope.confirmOrder = function () {
                    alert('Dziękujemy! Twoje zamówienie zostało przyjęte!');
                    console.log('Komentarz: ' + $scope.comment);
                    console.log('Produktów: ' + $scope.shoppingCart.length);
                };

                $scope.clearCart = function () {
                    $scope.shoppingCart = [];
                };

                $scope.removeFromCart = function (id) {
                    $scope.shoppingCart.splice(id, 1);
                    $scope.shippingPrice();
                };

            }]);

            /* FILTRY */
            app.filter('filterUser', function () {
                return function (users, type, role) {
                    booleanType = false;
                    if(type=='active'){
                        booleanType = true;
                    }
                    var result = {};
                    var i = 0;
                    angular.forEach(users, function(user, key) {
                        if((role == user.role || role == 'all') && (booleanType == user.active || type == 'all')){
                            result[i]= user;
                            i++;
                        }
                    });
                return result;
                
                };
            });   

            app.filter('maskEmail', function () {

                return function (email, length, maskSign) {

                    email = email||'';
                    length = length||3;
                    maskSign = maskSign||'*';

                    var parts = email.split('@');
                    var masked = parts[0].substr(0, length);
                    var maskLength = parts[0].length - length;

                    for(var i=0; i<maskLength; i++){
                        masked += maskSign;
                    }

                    parts[0] = masked;

                    return parts.join('@');
                };

            });       

            /* SERWISY */
            app.factory('userProvider', function(){
                return {
                    firstName: 'Tomek',
                    lastName: 'Belina',
                    email: 'belina.tomasz@wp.pl',
                    position: 'Developer',
                    fullName: function () {
                        return this.firstName + ' ' + this.lastName;
                    }
                };
            });
        </script>
    </body>
</html>