<!DOCTYPE html>
<html lang="pl" ng-app="crmApp">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AngularJS - CRM</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400&subset=latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="MainCtrl">

        <div id="outer-wrapper">
            <div id="sidebar">
                <div class="semifluid-layout">
                    <div class="btn-rwd-menu">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="sidebar-logo">
                        <a href="#">AngularJS - CRM</a>
                    </div>
                    <nav class="sidebar-navigation">
                        <ul>
                            <li ng-class="{active: routeChecker.isActive('/clients')}">
                                <a href="/#/clients">
                                    <i class="fa fa-users"></i>
                                    <span>Klienci</span>
                                </a>
                            </li>
                            <li ng-class="{active: routeChecker.isActive('/sectors')}">
                                <a href="/#/sectors">
                                    <i class="fa fa-database"></i>
                                    <span>Branże</span>
                                </a>
                            </li>
                            <li ng-class="{active: routeChecker.isActive('/users')}">
                                <a href="/#/users">
                                    <i class="fa fa-cogs"></i>
                                    <span>Użytkownicy systemu</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="sidebar-copyrights">
                        Copyright &copy; TBE
                    </div>
                </div>
            </div>

            <div id="main">
                <div class="main-header navbar navbar-default">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-6 user-area">
                                <ul class="nav navbar-nav navbar-right user-nav">
                                    <li class="profile_menu ">
                                        <a href="#">
                                            <img src="img/user-avatar.jpg" alt="Maciej Żukiewicz">
                                            <span>Tomasz Belina</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-content container-fluid">
                    <div class="row">
                        <div class="breadcrumb">
                            <ul>
                                <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
                                    <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label"></a>
                                    <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- content -->
                    <div ng-view></div>
                    <!-- /content -->
                </div>
            </div>
        </div>

        <script src="vendor/jquery.js"></script>
        <script src="vendor/bootstrap.min.js"></script>
        <script src="vendor/angular.min.js"></script>
        <script src="vendor/angular-route.min.js"></script>
        <script src="vendor/angular-messages.min.js"></script>
        <script src="vendor/angular-locale_pl-pl.js"></script>
        <script src="vendor/ng-breadcrumbs.min.js"></script>

        <!-- app scripts *-->
        <script src="app/main.js"></script>
        <script src="app/app.js"></script>
        
        <script src="app/clients/clients.service.js"></script>
        <script src="app/sectors/sectors.service.js"></script>

        <script src="app/clients/clients-list.controller.js"></script>

    

    </body>
</html>