
<!-- content -->
<div class="row">
    <div class="col-xs-12">
        <div class="flat-panel">

            <div class="flat-panel-header">
                <h4 class="flat-panel-heading">Wyszkiwanie i filtracja</h4>
            </div>
            <div class="flat-panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="filter-by-name" class="col-sm-3 col-xs-12 control-label">Wyszukaj po nazwie</label>

                        <div class="col-sm-9 col-xs-12">
                            <input id="filter-by-name" ng-model="filterBy.name" type="text" class="form-control">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="flat-panel">
            <div class="flat-panel-header">
                <h3 class="flat-panel-heading">Lista użytkowników</h3>
            </div>
            <div class="flat-panel-body">
                <table class="no-border table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 70px;">
                            <span ng-click="changeOrder('id')" class="sort-btn">
                                ID
                                <i ng-show="isOrderedBy('id')" class="glyphicon" ng-class="{'glyphicon-chevron-up': !isOrderedReverse(), 'glyphicon-chevron-down':isOrderedReverse()}"></i>
                            </span>  
                        </th>
                        <th>
                            <span ng-click="changeOrder('name')" class="sort-btn">
                                Nazwa
                                <i ng-show="isOrderedBy('name')" class="glyphicon" ng-class="{'glyphicon-chevron-up': !isOrderedReverse(), 'glyphicon-chevron-down':isOrderedReverse()}"></i>
                            </span> 
                        </th>
                       
                        </tr>
                    </thead>
                    <tbody class="no-border" ng-repeat="user in users | filter : filterBy | orderBy:orderByColumn:orderByDir">
                        <tr>
                            <td class="text-center">{{user.id}}</td>
                            <td>{{user.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a id="ukryj" ng-show="showUsers" href ng-click="showUsers = !showUsers">Ukryj</a>
<a id="szczegoly" ng-hide="showUsers" href ng-click="showUsers = !showUsers">Pokaż szczegóły</a>

<div ng-show="showUsers"> 
    <div class="row">
        <div class="col-xs-12">
            <div class="flat-panel">
                <div class="flat-panel-header">
                    <h4 class="flat-panel-heading">Projektanci</h4>
                </div>
                <div class="flat-panel-body">
                    <div class="row clearfix">
                        <div ng-repeat="member in devs">
                            <business-card member="member" type="dev" ng-click="showUserDetails(member.id)"></business-card>
                        </div>

                        <div class="pull-right">
                            <business-card member="teamLeader" devs="devs" type="leader" ng-click="showUserDetails(member.id)"></business-card>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>

        <hr>

    <div class="row">
        <div class="col-xs-12">
            <div class="flat-panel">
                <div class="flat-panel-header">
                    <h4 class="flat-panel-heading">Administratorzy</h4>
                </div>
                <div class="flat-panel-body">
                    <div class="row clearfix">
                        <div ng-repeat="member in admins">
                            <div business-card member="member" type="admin" ng-click="showUserDetails(member.id)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
<div>


<!-- /content -->
