
<!-- content -->
<div class="row">
<div class="col-xs-12">
    <div class="flat-panel">

        <div class="flat-panel-header">
            <h4 class="flat-panel-heading">Wyszkiwanie i filtracja</h4>
        </div>
        <div class="flat-panel-body">
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="filter-by-name" class="col-sm-3 col-xs-12 control-label">Wyszukaj po nazwie</label>

                    <div class="col-sm-9 col-xs-12">
                        <input id="filter-by-name" ng-model="filterBy.name" type="text" class="form-control">
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
    <div class="flat-panel">
        <div class="flat-panel-header">
            <h3 class="flat-panel-heading">Lista branz</h3>
        </div>
        <div class="flat-panel-body">
            <table class="no-border table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 70px;">
                            <span ng-click="changeOrder('id')" class="sort-btn">
                                ID
                                <i ng-show="isOrderedBy('id')" class="glyphicon" ng-class="{'glyphicon-chevron-up': !isOrderedReverse(), 'glyphicon-chevron-down':isOrderedReverse()}"></i>
                            </span>  
                        </th>
                        <th>
                            <span ng-click="changeOrder('name')" class="sort-btn">
                                Nazwa
                                <i ng-show="isOrderedBy('name')" class="glyphicon" ng-class="{'glyphicon-chevron-up': !isOrderedReverse(), 'glyphicon-chevron-down':isOrderedReverse()}"></i>
                            </span> 
                        </th>
                    </tr>
                </thead>
                <tbody class="no-border" ng-repeat="sector in sectors | filter:filterBy | orderBy:orderByColumn:orderByDir">
                    <tr>
                        <td class="text-center">{{sector.id}}</td>
                        <td>{{ sector.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!-- /content -->
                